@font-face {
  font-family: FontRegular;
  src: url(Assets/Fonts/sf-pro-display_regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: FontRegular;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  min-height: 60px;
}

#main img {
  width: 150px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  width: 100%;
  height: 7vh;
  background-color: #f2f2f2;
  z-index: 50;
  position: fixed;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: medium;
  font-family: FontRegular;
}

nav a:hover {
  color: gold;
  text-decoration: none;
}

nav i {
  font-size: 1.1vw;
}

/* .part-1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    background-image: url(Assets/hero_iphone15pro__i70z9oz3hj2i_largetall.jpg);
    background-position: center;
} */

.part-1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
  /* background-image: url(Assets/section-1-bg-1.jpg); */
  background: linear-gradient(to left, rgba(255, 99, 71, 0), rgba(0, 0, 0, 0.3)),
    url("Assets/section-1-bg-1.jpg");
  background-position: center;
  background-size: cover;
}

/* .part-1 p2{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
} */

.text-part-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  gap: 1vh;
  top: 10%;
  color: #1a0101;
  text-align: center;
}

.text-part-1 h1 {
  font-size: 3vw;
}

.text-part-1 p {
  font-size: 1.6vw;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.link a {
  text-decoration: none;
  color: rgb(26, 141, 242);
  font-size: 1.2vw;
}

.link a:hover {
  border-bottom: 1px solid rgb(26, 141, 242);
}

.b2 {
  padding-top: 10px;
}

.part-2 {
  background-image: url(Assets/hero_iphone15_announce__uuemlcwczn6u_largetall.jpg);
}

.text-part-2 {
  color: #333;
}

.part-3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url(Assets/product_images/starbanner.png);
  background-position: center;
  background-size: cover;
}

.part-4 {
  display: flex;
  width: 100%;
}

.part-4-1 {
  height: 50vh;
  width: 50%;
  background-repeat: no-repeat;
  background-image: url(Assets/product_images/naylabanner.png);
  border-radius: 5px;
  box-sizing: border-box;
}

.part-4-2 {
  height: 50vh;
  width: 50%;
  background-repeat: no-repeat;
  background-image: url(Assets/product_images/dammabanner.png);
  border-radius: 5px;
  box-sizing: border-box;
}

.part-4 .text-part-1 {
  color: #333;
}

.part-4 .text-part-1 p {
  font-size: 2vw;
}

.part-5 {
  display: flex;
  width: 100%;
}

.part-5-1 {
  height: 50vh;
  width: 50%;
  background-repeat: no-repeat;
  background-image: url(Assets/product_images/tatlanbanner.png);
  border-radius: 5px;
  box-sizing: border-box;
}

.part-5-2 {
  height: 50vh;
  width: 50%;
  background-repeat: no-repeat;
  background-image: url(Assets/product_images/starbanner.png);
  border-radius: 5px;
  box-sizing: border-box;
}

.part-5 .text-part-1 {
  color: #333;
}

.part-5 .text-part-1 p {
  font-size: 2vw;
}

.slider-part {
  padding: 2vh 0vw;
  width: 100%;
  height: 70vh;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 90%;
  background-position: center;
  background-size: cover;
}

.swiper-1 {
  background-image: url(Assets/product_images/BalloneStar.jpg);
}
.swiper-2 {
  background-image: url(Assets/product_images/dammabanner.png);
}
.swiper-3 {
  background-image: url(Assets/product_images/naylabanner.png);
}
.swiper-4 {
  background-image: url(Assets/product_images/starbanner.png);
}
.swiper-5 {
  background-image: url(Assets/product_images/tatlanbanner.png);
}
/* .swiper-6{
    background-image: url(Assets/6.jpg);
} */

.ri-menu-3-line {
  display: none;
}

.respo-nav {
  position: fixed;
  top: -120%;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: none;
  z-index: 99;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.submenu {
  top: -100%;
  position: absolute;
  width: 100%;
  height: 95vh;
  z-index: 999;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  pointer-events: none;
}

.sub-top {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 100%;
  height: 50vh;
  background-color: #ffffff;
  padding: 5vw 20vw;
}

.sub-top a {
  text-decoration: none;
  font-size: 1vw;
  color: #333;
}

.sub-btm {
  width: 100%;
  height: 45vh;
  background: rgba(0, 0, 0, 0.085);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

@media (max-width: 500px) {
  .submenu {
    display: none;
  }
  #partO {
    background-image: url(Assets/section-1-bg-4.png);
  }
  .slider-part {
    height: 60vh;
    background-color: rgb(255, 255, 255);
  }

  nav {
    gap: 5vw;
  }
  nav a {
    display: none;
  }
  nav i {
    font-size: 5vw;
  }
  /* .ri-apple-fill{
        margin-right: 60vw;
    } */

  #main img {
    margin-right: 40vw;
    width: 100px;
  }

  .ri-menu-3-line {
    display: initial;
    padding-right: 20px;
  }
  .respo-nav {
    padding: 10vw 10vw;
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }
  .respo-nav a {
    font-size: 6vw;
    text-decoration: none;
    color: #333;
  }
  .respo-nav i {
    position: absolute;
    top: 1%;
    right: 3%;
    font-size: 7vw;
  }
  .text-part-1 {
    gap: 2vh;
  }
  .text-part-1 h1 {
    font-size: 10vw;
  }
  .text-part-1 p {
    font-size: 5vw;
  }
  .link a {
    font-size: 5.2vw;
  }
  .part-2 {
    background-image: url(Assets/resp2.jpg);
  }
  .part-4 {
    flex-direction: column;
  }
  .part-4-1 {
    width: 100%;
  }
  .part-4-2 {
    width: 100%;
  }
  .part-4 .text-part-1 p {
    font-size: 4vw;
  }

  .part-5 {
    flex-direction: column;
  }
  .part-5-1 {
    width: 100%;
  }
  .part-5-2 {
    width: 100%;
  }
  .part-5 .text-part-1 p {
    font-size: 4vw;
  }

  .swiper-1 {
    background-image: url(Assets/header-bsapp.png);
    border-radius: 15px;
    border: 2px solid rgb(8, 7, 7);
  }
  .swiper-2 {
    background-image: url(Assets/dhamma.png);
    border-radius: 15px;
    border: 2px solid rgb(8, 7, 7);
  }
  .swiper-3 {
    background-image: url(Assets/header-naylaapp.png);
    border-radius: 15px;
    border: 2px solid rgb(8, 7, 7);
  }
  .swiper-4 {
    background-image: url(Assets/starapp.png);
    border-radius: 15px;
    border: 2px solid rgb(8, 7, 7);
  }
  .swiper-5 {
    background-image: url(Assets/header-tatapp.png);
    border-radius: 15px;
    border: 2px solid rgb(8, 7, 7);
  }
}

.store img {
  width: 150px;
}

.menu-list {
  display: flex;
  justify-content: space-evenly;
}
.menu-list ul {
  list-style: none;
}

.store {
  margin-left: 5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}
.menu-items {
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.099);
  line-height: 28px;
}
.footer p {
  text-align: center;
}
.footer {
  padding: 20px;
}
.cross {
  display: none;
}
.menuopen {
  display: none;
}

@media only screen and (max-width: 600px) {
  .menuopen {
    display: block;
    position: absolute;
    right: 4%;
    top: 25%;
  }

  .menu-list ul {
    font-size: 12px;
    padding: 10px;
  }
}

/* -----------------Modal Box Entry form---------------- */

/* Define the animation */
@keyframes iconAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* Apply the animation to the icon when clicked */
#ri-send.clicked {
  animation: iconAnimation 0.3s ease;
}

/* Optional: Add transition to smooth out the animation */
#ri-send {
  transition: transform 0.3s ease;
  cursor: pointer;
}

/* Modal styles */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black with opacity */
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* Close button */
.close {
  color: #aaa;

  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container-modal {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

input {
  padding: 12px 16px;
  width: 100%;
  border-radius: 3px;
  border: none;
  outline: 2px solid #efefef;
}

/* Style for the containericon */
.containericon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
