@font-face {
  font-family: FontRegular;
  src: url(Assets/Fonts/sf-pro-display_regular.ttf);
}

/* carousel */
.carousel {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.carousel .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}
.carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-top: 0px;
}
.carousel .list .item .content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}

.carousel .list .item .content .des {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

.carousel .list .item .content .tranbox {
  margin: 30px;
  background-color: #ffffff;

  opacity: 0.7;
}

.carousel .list .item .author {
  font-weight: bold;
  letter-spacing: 10px;
  color: #ec1919;
}
.carousel .list .item .title,
.carousel .list .item .topic {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}
.carousel .list .item .topic {
  color: #ec1919;
}
.carousel .list .item .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}
.carousel .list .item .buttons button {
  border: none;
  background-color: #ffc451;
  letter-spacing: 3px;
  font-family: FontRegular;
  font-weight: 500;
}
.carousel .list .item .buttons button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #ffc451;
  color: black;
}

.carousel .list .item .buttons button:nth-child(2):hover {
  background: #ffbb38;
  color: #343a40;
}

/* thumbail */
.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 1;
  display: flex;
  gap: 20px;
}
.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail .item .content {
  color: black;
  position: relative;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.thumbnail .item .content .title {
  font-weight: bold;
  font-size: 15px;
  font-family: FontRegular;
}
/* .thumbnail .item .content .description{
    font-weight: 300;
} */
/* arrows */
.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 1;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffbb38;
  border: none;
  color: #fff;
  font-family: FontRegular;
  font-weight: bold;
  transition: 0.5s;
}
.arrows button:hover {
  background-color: #fff;
  color: #000;
}

/* animation */
.carousel .list .item:nth-child(1) {
  z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.carousel .list .item:nth-child(1) .content .title {
  animation-delay: 1.2s !important;
}
.carousel .list .item:nth-child(1) .content .topic {
  animation-delay: 1.4s !important;
}
.carousel .list .item:nth-child(1) .content .des {
  animation-delay: 1.6s !important;
}
.carousel .list .item:nth-child(1) .content .buttons {
  animation-delay: 1.8s !important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage 0.5s linear 1 forwards;
}
@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel.prev .list .item img {
  z-index: 100;
}
@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}
.carousel.next .thumbnail {
  animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

/* running time */
/* 
.carousel .time {
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: red;
  left: 0;
} */

.carousel .time {
  position: absolute;
  z-index: 1;
  left: 0;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 0, 0.5);
  width: 0%;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

.carousel.next .time,
.carousel.prev .time {
  animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/* prev click */

.carousel.prev .list .item:nth-child(2) {
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button {
  pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons {
  animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}
@media screen and (max-width: 600px) {
  .carousel .list .item .content {
    padding-right: 0;
  }
  .carousel .list .item .content .title {
    font-size: 30px;
  }
}

/* ///////////////////////////////////////////// */

/* //----------------------------News Product mobile responsive------------------------------ */

.event-pictures img {
  height: 400px;
}
.event-pictures {
  display: flex;
  justify-content: space-evenly;
}

.yoga-events {
  background-image: linear-gradient(to left, #653273, #caa2f2);
  color: black;
  margin-top: 50px;
  padding: 40px;
}

.yoga-events h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2vw;
}

/* -----------------------Card----------------- */

.card img {
  height: 200px;
}
.card-container {
  margin-top: 30px;
  text-align: center;
}

.card-container h1 {
  font-size: 2vw;
}

.card {
  height: 470px;
  width: 380px;
  text-align: center;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-bottom: 30px;
  border-radius: 30px;
  margin-top: 25px;
  transition: 0.7s;
}
.card h1 {
  margin-bottom: 20px;
  margin-top: 40px;
  font-size: 20px;
}
.card p {
  margin-bottom: 20px;
}

.cards {
  margin-top: 45px;
  display: flex;
  justify-content: space-evenly;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
/* -------------------------------------------- */

@media only screen and (max-width: 600px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .yoga-events {
    display: flex;
    flex-direction: column;
  }
  .event-pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .event-pictures img {
    height: 180px;
    width: 100%;
  }
}
/* ---------------footer---- */
.footer p {
  text-align: center;
}
.footer {
  padding: 20px;
}
.cross {
  display: none;
}
.menuopen {
  display: none;
}

@media only screen and (max-width: 600px) {
  .menuopen {
    display: block;
    position: absolute;
    right: 4%;
    top: 25%;
  }

  .menu-list ul {
    font-size: 12px;
    padding: 10px;
  }
}
