* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  list-style: none;
  text-decoration: none;
}

.services {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 8%;
  color: black;

  position: relative;
}

.services .content {
  display: flex;
  justify-content: space-between;
  margin: 5rem 0;
}

.services .content h1 {
  font-size: 3.7rem;
  line-height: 3.7rem;
  letter-spacing: 1px;
  width: 40%;
  font-family: FontRegular;
}

.services .content p {
  width: 40%;
  font-family: FontRegular;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cards .card {
  height: auto; /* Changed for mobile */
  width: 100%; /* Changed for mobile */
  border: 0.5px solid rgba(10, 5, 8, 0.86);
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  padding: 3rem 8%;
  position: relative;
  z-index: 1;
  background-color: transparent;
  overflow: hidden;
  transition: 0.6s;
}

.cards .card .img-fluid {
  display: flex;
}

.cards .card .img-fluid h3 {
  padding: 10px 10px;
}

.cards .card::after {
  position: absolute;
  content: "";
  height: 40%;
  width: 8%;
  top: 30%;
  right: -4%;
  background-color: #000000;
  z-index: -1;
  border-radius: 28px;
  transition: 0.6s;
}

.cards .card:hover {
  color: #ffffff;
}

.cards .card:hover:after {
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
}

.cards .card h3 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

/* .cards .card ul li {
  margin-left: 12px;
}

.cards .card ul li i {
  margin-right: 8px;
} */

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
}

@media (max-width: 1100px) {
  .services .content h1 {
    font-size: 3.4rem;
  }

  .services .content {
    flex-direction: column;
    align-items: center;
  }

  .services .content h1,
  .services .content p {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }

  .card {
    width: 80%;
  }

  .services .content h1 {
    font-size: 2rem;
  }

  .cards .card .img-fluid h3 {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  /* Added for smaller screens */
  .cards {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Adjusted for single column on smaller screens */
  }
}

.box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgb(255, 165, 0, 0.5);

  animation: animate 20s linear infinite;
  bottom: -150px;
}

.box-area li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 15s;
}

.box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 1.5s;
}

.box-area li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.box-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.box-area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}
